39vG0mujvVg4mPXZ.json
{
  "createdAt": "2024-06-20T06:45:25.575Z",
  "updatedAt": "2024-11-26T12:51:41.806Z",
  "id": "39vG0mujvVg4mPXZ",
  "name": "BANK | Cadastra usuário direto na plataforma",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://memberclass.com.br/api/webhook/kiwify/clz0be3b7000112ct5n2w6xbf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"order_status\": \"paid\",\n\t\"product_type\": \"membership\",\n\t\"webhook_event_type\": \"order_approved\",\n\t\"Product\": {\n\t\t\"product_id\": \"psk3pz4n9z00dlbe9urj\",\n\t\t\"product_name\": \"PropositoBank\"\n\t},\n\t\"Customer\": {\n\t\t\"full_name\": \"{{ $json[\"nome\"] }}\",\n\t\t\"first_name\": \"\",\n\t\t\"email\": \"{{ $json[\"email\"] }}\",\n\t\t\"mobile\": \"{{ $json[\"tel\"] }}\",\n\t\t\"CPF\": \"\",\n\t\t\"ip\": \"{{ $('Webhook').item.json[\"headers\"][\"cf-connecting-ip\"] }}\"\n\t},\n\t\"Commissions\": {\n\t\t\"charge_amount\": \"0\",\n\t\t\"product_base_price\": \"0\",\n\t\t\"kiwify_fee\": \"0\"\n\t}\n}",
        "options": {}
      },
      "id": "91d58241-b126-40f8-bd3b-0f82761cc552",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        640
      ]
    },
    {
      "parameters": {
        "content": "## O que esse fluxo faz?\nO fluxo realizada o cadastro de usuário direto na plataforma do Pr Rafael",
        "width": 378
      },
      "id": "fdbd39de-9db7-4059-99d4-658a77044d57",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0383e566-bff8-4471-b70b-57709cbf0bea",
              "leftValue": "Success!",
              "rightValue": "={{ $json.data }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "83cfc368-04a6-49aa-87f9-4f921c01e547",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/message/sendText/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json[\"telefone\"] }}\",\n  \"text\": \"{{ $json[\"message\"].replace(/\\r?\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "9c6e5b4a-f144-47f6-be12-46489264ebeb",
      "name": "Envia no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json[\"urlApi\"] }}/chat/whatsappNumbers/{{ $json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $('Webhook').item.json.body.__submission.user_inputs.phone }}\"\n  ]\n}",
        "options": {}
      },
      "id": "1ab3e1b8-17c1-4a3b-b1a9-d6f3c6596791",
      "name": "Numero-tel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        620
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "urlApi",
              "stringValue": "https://evo2.multidesk.io"
            },
            {
              "name": "instace",
              "stringValue": "dinamus"
            },
            {
              "name": "key",
              "stringValue": "6FAD0A4D48B8-4C5F-9309-D77D76E0D741"
            }
          ]
        },
        "options": {}
      },
      "id": "d92f60c6-e320-4639-9174-7a31a0bba423",
      "name": "Dados-API",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        920,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1c789f10-79f3-4e08-8ff0-c4a3706cb336",
      "name": "True",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/chat/whatsappNumbers/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json.key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"55{{ $('Webhook').item.json[\"body\"][\"event\"][\"usuario\"][\"celular\"] }}\"\n  ]\n}",
        "options": {}
      },
      "id": "7b2039f0-8934-4f1b-bd64-1ad00627cc1d",
      "name": "Numero-tel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d00db68-8a45-4d7b-b11a-38248c0018a7",
              "name": "message",
              "value": "=🌟 *Bem-vindo(a), {{ $('Webhook').item.json[\"body\"][\"names\"][\"first_name\"].split(\" \")[0] }}!* 🌟\n\n🎉 Estamos empolgados em tê-lo(a) na *PROPÓSITO ACADEMY*! Os dados de acesso foram enviados para o seu e-mail. 📧\n\n🔒 *Por segurança*, a senha foi enviada uma única vez. Se precisar alterá-la, basta acessar https://propositoacademy.com/login-email, clicar em _Esqueceu a senha?_ e inserir o seu e-mail.\n\n📩 Acesse seu e-mail e siga as instruções para redefinir sua senha.\n\n🚀 Aproveite ao máximo sua jornada na nossa plataforma!",
              "type": "string"
            },
            {
              "id": "87ecd99b-1ccf-41b9-a5a5-dcad16d36010",
              "name": "telefone",
              "value": "={{ $json.jid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0155569a-dab3-4788-a164-aa56f2db068b",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1480,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "999d429d-a53b-4104-8c9b-da0e64756163",
        "options": {}
      },
      "id": "c06e9d34-4664-4982-8993-356a623fe2d7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        640
      ],
      "webhookId": "9b239fa2-2e2c-4b90-b8e4-af9660bb3e2e"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "nome",
              "stringValue": "={{ $json.body.names.first_name }}"
            },
            {
              "name": "email",
              "stringValue": "={{ $json.body.email }}"
            },
            {
              "name": "tel",
              "stringValue": "={{ $json.body.phone }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "09ca6b67-7d23-4ce8-bad9-704a2d1c78d5",
      "name": "Dados recebidos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        340,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4cb5bf1e-5b76-4be3-8c15-feacaa71e1d9",
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f20fcbb0-9757-424d-9d50-3e9761c558bb",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1300,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d00db68-8a45-4d7b-b11a-38248c0018a7",
              "name": "message",
              "value": "=🌟 *Bem-vindo(a), {{ $('Webhook').item.json[\"body\"][\"names\"][\"first_name\"].split(\" \")[0] }}!* 🌟\n\n🎉 Estamos empolgados em tê-lo(a) na *PROPÓSITO ACADEMY*! Os dados de acesso foram enviados para o seu e-mail. 📧\n\n🔒 *Por segurança*, a senha foi enviada uma única vez. Se precisar alterá-la, basta acessar https://propositoacademy.com/login-email, clicar em _Esqueceu a senha?_ e inserir o seu e-mail.\n\n📩 Acesse seu e-mail e siga as instruções para redefinir sua senha.\n\n🚀 Aproveite ao máximo sua jornada na nossa plataforma!",
              "type": "string"
            },
            {
              "id": "87ecd99b-1ccf-41b9-a5a5-dcad16d36010",
              "name": "telefone",
              "value": "={{ $json.jid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a664e34-ff29-4f64-866e-31b022cd8012",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1860,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/message/sendText/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json[\"telefone\"] }}\",\n  \"text\": \"{{ $json[\"message\"].replace(/\\r?\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "1b593038-47b0-4a6a-a020-1d518f5835bf",
      "name": "Envia no WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2020,
        760
      ]
    }
  ],
  "connections": {
    "Numero-tel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados-API": {
      "main": [
        [
          {
            "node": "Numero-tel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numero-tel1": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Envia no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Dados-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados recebidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados recebidos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Numero-tel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Envia no WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bd994a4c-943e-4be8-a88d-524d1101a5cf",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-06-20T06:45:07.140Z",
      "updatedAt": "2024-06-20T06:45:07.140Z",
      "id": "1J6kOM6ESBBCxeZA",
      "name": "Proposito Bank"
    }
  ]
}