60M2VFn583O0jqiz.json
{
  "createdAt": "2024-06-20T06:46:56.839Z",
  "updatedAt": "2025-03-17T16:08:50.906Z",
  "id": "60M2VFn583O0jqiz",
  "name": "Vida na Graça | Cria e atualiza usuários",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "urlApi",
              "stringValue": "https://vidanagraca.com/"
            },
            {
              "name": "baseApi",
              "stringValue": "wp-json/rcp/v1/"
            }
          ]
        },
        "options": {}
      },
      "id": "36b0b835-89c5-4c82-98f2-7b94c632365a",
      "name": "API SITE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -780,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Recebe dados da KIWIFY').item.json.body.order_status }}",
              "value2": "paid"
            }
          ]
        }
      },
      "id": "1179356c-93b4-413c-a5a8-9ab5bd5554c5",
      "name": "VERIFICA SE FOI PAGO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -580,
        760
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "login-email",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "nome",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.full_name }}"
            },
            {
              "name": "senha",
              "stringValue": "mudar@123"
            },
            {
              "name": "status",
              "stringValue": "active"
            },
            {
              "name": "subscription",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Product.product_name }}"
            },
            {
              "name": "total",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Subscription.charges.completed[0].amount }}"
            },
            {
              "name": "iduser",
              "stringValue": "={{ $json.id }}"
            },
            {
              "name": "plano",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Product.product_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "61018fa9-f3ca-4ffe-8728-07d37730d79f",
      "name": "Config plano",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -500,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_rcp_customers",
          "mode": "list",
          "cachedResultName": "wp_rcp_customers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90d95680-89b5-4924-be6e-9fb1ecbb9024",
      "name": "Busca dados do usuário",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -720,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}payments/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Config plano').item.json.user_id }}"
            },
            {
              "name": "amount",
              "value": "={{ (parseFloat($('Recebe dados da KIWIFY').item.json.body.Commissions.product_base_price) / 100).toFixed(2) }}"
            },
            {
              "name": "subscription",
              "value": "={{ $('Code').item.json.plano }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.order_id }}"
            },
            {
              "name": "gateway",
              "value": "kiwify"
            }
          ]
        },
        "options": {}
      },
      "id": "0d2b4509-5beb-46a7-82b6-66df968fb1c8",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -100,
        1020
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}memberships/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "object_id",
              "value": "={{ $('Code').item.json.plano }}"
            },
            {
              "name": "status",
              "value": "Ativo"
            }
          ]
        },
        "options": {}
      },
      "id": "e8642ca3-1237-4425-80cd-66670b318ead",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -300,
        1020
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenha o nome do webhook\nconst nomeRecebido = $json[\"body\"][\"Product\"][\"product_name\"];\n\n// Mapeie nomes para valores (substitua com seus próprios dados)\nconst mapaNomesValores = {\n  \"Plataforma Vida na Graça\": 1,\n  \"Vida na Graça Mensal\": 2,\n  // Adicione mais conforme necessário\n};\n\n// Verifique se o nome existe no mapa\nif (nomeRecebido in mapaNomesValores) {\n  // Retorne o valor correspondente\n  return { plano: mapaNomesValores[nomeRecebido] };\n} else {\n  // Se o nome não for encontrado, retorne um valor padrão ou uma mensagem de erro\n  return { resultado: NULL };\n}\n"
      },
      "id": "6922a894-ff4c-4726-af72-64a153d19bac",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vidanagraca.com/?fluentcrm=1&route=contact&hash=d47e3871-e97e-4550-b343-2a438453d541",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.mobile }}"
            }
          ]
        },
        "options": {}
      },
      "id": "395c9dcb-ab9b-43e1-b8a1-957792f7de28",
      "name": "Fluent CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        100,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_users",
          "mode": "list",
          "cachedResultName": "wp_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_email",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "30ee47b4-cf96-4726-ab12-7a1a945c589e",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -920,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_users",
          "mode": "list",
          "cachedResultName": "wp_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_email",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbf707c2-abdb-45dc-9f54-8e7e04204a5a",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -340,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      },
      "notes": "Busca dados do usuário, verificando se o usuário existe..."
    },
    {
      "parameters": {
        "dataType": "string",
        "rules": {
          "rules": [
            {
              "operation": "notContains",
              "value2": "={{ $json.ID }}"
            },
            {
              "operation": "notStartsWith",
              "value2": "error"
            }
          ]
        }
      },
      "id": "3f5ff064-25e2-4721-96b6-77661e521876",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        -120,
        740
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_rcp_customers",
          "mode": "list",
          "cachedResultName": "wp_rcp_customers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb1bac22-93a1-459e-8fad-4adce864112e",
      "name": "RCP CUSTOMERS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        20,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Busca dados do usuário na tabela custumers"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "login-email",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "nome",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.full_name }}"
            },
            {
              "name": "senha",
              "stringValue": "mudar@123"
            },
            {
              "name": "status",
              "stringValue": "active"
            },
            {
              "name": "subscription",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Product.product_name }}"
            },
            {
              "name": "total",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Subscription.charges.completed[0].amount }}"
            },
            {
              "name": "iduser",
              "stringValue": "={{ ($json.id) || \"N/A\" }}"
            },
            {
              "name": "plano",
              "stringValue": "={{ $('Recebe dados da KIWIFY').item.json.body.Product.product_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7b86572-533d-43dc-a426-fed64a6e64df",
      "name": "Config plano1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        140,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}payments/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Config plano1').item.json.id }}"
            },
            {
              "name": "amount",
              "value": "={{ (parseFloat($('Recebe dados da KIWIFY').item.json.body.Commissions.product_base_price) / 100).toFixed(2) }}"
            },
            {
              "name": "subscription",
              "value": "={{ $('Code').item.json.plano }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.order_id }}"
            },
            {
              "name": "gateway",
              "value": "kiwify"
            }
          ]
        },
        "options": {}
      },
      "id": "d11b13af-a4d5-47e5-bf26-a5b6c07db9cf",
      "name": "Lança a fatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        840
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vidanagraca.com/?fluentcrm=1&route=contact&hash=d47e3871-e97e-4550-b343-2a438453d541",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_name",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.full_name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.mobile }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b471864d-af04-4982-b5fd-fefe43082930",
      "name": "Fluent CRM1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        780,
        840
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "rules": {
          "rules": [
            {
              "operation": "notContains",
              "value2": "={{ $json.id || null }}",
              "outputKey": "data"
            },
            {
              "operation": "startsWith",
              "outputKey": "null"
            }
          ]
        }
      },
      "id": "1eb975fc-8946-4ce8-86c5-6cfbaa775c49",
      "name": "Verifica se usuário já tem conta2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}customers/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('MySQL1').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2db378-66cc-443f-b6e6-bb2dd3960895",
      "name": "Cria aluno pagante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        840
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}memberships/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $json }}"
            },
            {
              "name": "object_id",
              "value": "={{ $('Code').item.json.plano }}"
            },
            {
              "name": "status",
              "value": "Ativo"
            }
          ]
        },
        "options": {}
      },
      "id": "e7d49a13-dfff-45d8-b8f3-0aecfc02f2c9",
      "name": "Cria o plano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        840
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "wp_rcp_memberships",
          "mode": "list",
          "cachedResultName": "wp_rcp_memberships"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('MySQL1').item.json.ID }}"
            },
            {
              "column": "disabled",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "4d324813-6037-4e45-b926-805178b59a31",
      "name": "Verifica se usuário tem alguma associação",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        460,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}memberships/update/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "object_id",
              "value": "={{ $('Code').item.json.plano }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac5be812-3f70-44fe-b56b-cc3513b7e74e",
      "name": "Upgrade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}payments/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Verifica se usuário tem alguma associação').item.json.user_id }}"
            },
            {
              "name": "amount",
              "value": "={{ (parseFloat($('Recebe dados da KIWIFY').item.json.body.Commissions.product_base_price) / 100).toFixed(2) }}"
            },
            {
              "name": "subscription",
              "value": "={{ $('Code').item.json.plano }}"
            },
            {
              "name": "transaction_id",
              "value": "2"
            },
            {
              "name": "gateway",
              "value": "kiwify"
            }
          ]
        },
        "options": {}
      },
      "id": "faa5816f-5820-4b8b-a612-bc812af5e501",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        840,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('API SITE').item.json.urlApi }}{{ $('API SITE').item.json.baseApi }}members/new",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "login",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "email",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "first_name",
              "value": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.full_name }}"
            },
            {
              "name": "password",
              "value": "Mudar@123***"
            }
          ]
        },
        "options": {}
      },
      "id": "346a9c80-7f7d-477f-b84c-5d464720f11b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1140,
        1020
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRPPREI2HIZbyNSP",
          "name": "WordPress"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "wp_users",
          "mode": "list",
          "cachedResultName": "wp_users"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "user_email",
        "valueToMatchOn": "={{ $('Recebe dados da KIWIFY').item.json.body.Customer.email }}",
        "valuesToSend": {
          "values": [
            {
              "column": "user_pass",
              "value": "$P$BrdNue1nmJnI7wTW6QsOa84jIKT2fg/"
            }
          ]
        },
        "options": {}
      },
      "id": "06ad8fc3-f7a0-4b42-a6d6-6d864bbf0263",
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        320,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "esHLE2a93ykMhaHJ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "15a86b99-cc8a-470e-8040-11df61ce7e69",
        "options": {}
      },
      "id": "64098865-dc63-4054-883b-2fa21b2c8865",
      "name": "Recebe dados da KIWIFY",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1160,
        760
      ],
      "webhookId": "15a86b99-cc8a-470e-8040-11df61ce7e69"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 53,
        "tableId": 518,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4772,
              "fieldValue": "={{ $now.format('dd-MM-yyyy HH:mm:ss') }}"
            },
            {
              "fieldId": 4779,
              "fieldValue": "=Vida na graça"
            }
          ]
        }
      },
      "id": "786bb027-e18d-4520-8b4e-d4c3a832a626",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -980,
        580
      ],
      "credentials": {
        "baserowApi": {
          "id": "k6EquFwwxMaVFicw",
          "name": "Baserow ConectApp"
        }
      }
    }
  ],
  "connections": {
    "API SITE": {
      "main": [
        [
          {
            "node": "VERIFICA SE FOI PAGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VERIFICA SE FOI PAGO": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados do usuário": {
      "main": [
        [
          {
            "node": "Config plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config plano": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "API SITE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Fluent CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Busca dados do usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "RCP CUSTOMERS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RCP CUSTOMERS": {
      "main": [
        [
          {
            "node": "Verifica se usuário já tem conta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config plano1": {
      "main": [
        [
          {
            "node": "Cria aluno pagante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lança a fatura": {
      "main": [
        [
          {
            "node": "Fluent CRM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuário já tem conta2": {
      "main": [
        [
          {
            "node": "Verifica se usuário tem alguma associação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config plano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria aluno pagante": {
      "main": [
        [
          {
            "node": "Cria o plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o plano": {
      "main": [
        [
          {
            "node": "Lança a fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usuário tem alguma associação": {
      "main": [
        [
          {
            "node": "Upgrade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upgrade": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fluent CRM": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe dados da KIWIFY": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f3b5b7ba-8276-4b62-b936-1f6e94f2e04e",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-06-20T06:46:40.105Z",
      "updatedAt": "2024-06-20T06:46:40.105Z",
      "id": "fkTAix8LS7CKjcOY",
      "name": "Pr Naor"
    }
  ]
}