9TevarLg1xuweiUf.json
{
  "createdAt": "2025-04-11T22:43:19.950Z",
  "updatedAt": "2025-04-12T00:02:14.793Z",
  "id": "9TevarLg1xuweiUf",
  "name": "My workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "abb5967e-c11a-425b-95fe-2145b824f66f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -100
      ],
      "id": "2580da88-f0cc-4362-9ed4-8557e76bedab",
      "name": "Webhook",
      "webhookId": "abb5967e-c11a-425b-95fe-2145b824f66f",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "662809173574386",
        "recipientPhoneNumber": "={{ $json.body.conversation.meta.sender.phone_number }}",
        "textBody": "={{ $json.body.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -280,
        -120
      ],
      "id": "cf1e9695-f821-4bcb-baef-9a8943db4b60",
      "name": "WhatsApp Business Cloud",
      "webhookId": "8b1d03a5-2535-4207-b3c6-a4142f66121b",
      "credentials": {
        "whatsAppApi": {
          "id": "fsDXKfeMv1tVvrBU",
          "name": "PH-PROD"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ],
      "id": "c7eab1e3-a1f6-4ab4-9b0c-f6155785306d",
      "name": "WhatsApp Trigger",
      "webhookId": "729f88c9-d48b-4b11-b89f-3d72ee553342",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Hyuvm06E2gToeIlN",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.sendzap-ia.com/api/v1/accounts/5/conversations/{{ $json.id }}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "N6PMt3dwpfKmSxg2qPrZyUpA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"content\": \"{{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\",\n    \"message_type\": \"incoming\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        140
      ],
      "id": "b542c2e9-4ab7-4038-a4fa-b00e0015dda2",
      "name": "HTTP Request",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "8a765e57-8e39-4547-a99a-0458df2b75f4",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "9f161005-6594-4819-a329-a05853f95f36",
      "name": "Is message?",
      "type": "n8n-nodes-base.if",
      "position": [
        -520,
        160
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "775b2713-93d7-4638-951a-d8d57bf0affa",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "outgoing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        -100
      ],
      "id": "1079ba75-3ffe-4ae4-9196-9c9be116699d",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.body.conversation.meta.sender.phone_number.replace(\"+\", \"\") }}",
        "value": "={{ $json.body.conversation.id }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -520,
        -280
      ],
      "id": "7d25205d-0de4-4e10-9220-869b58f16305",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "id",
        "key": "={{ $json[\"contacts\"][0][\"wa_id\"].slice(0, 4) + \"9\" + $json[\"contacts\"][0][\"wa_id\"].slice(4) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -300,
        140
      ],
      "id": "25e11431-f9c7-4867-854f-43e7ac5c79cf",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61f76f1f-6a78-4807-9a35-8d15f9b80442",
              "name": "phone",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "b80cb2b9-7a0c-4aa7-8605-21bf06d11652",
              "name": "name",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "8f0c2522-9982-441b-a862-a95971d828ef",
              "name": "message",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        140
      ],
      "id": "b1aad9b9-2f34-4541-b6ba-d15cdd076c89",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.sendzap-ia.com/api/v1/accounts/5/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "N6PMt3dwpfKmSxg2qPrZyUpA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"string\",\n  \"inbox_id\": \"string\",\n  \"contact_id\": \"string\",\n  \"additional_attributes\": {},\n  \"custom_attributes\": {\n    \"attribute_key\": \"attribute_value\",\n    \"priority_conversation_number\": 3\n  },\n  \"status\": \"open\",\n  \"assignee_id\": \"string\",\n  \"team_id\": \"string\",\n  \"message\": {\n    \"content\": \"string\",\n    \"template_params\": {\n      \"name\": \"sample_issue_resolution\",\n      \"category\": \"UTILITY\",\n      \"language\": \"en_US\",\n      \"processed_params\": {\n        \"1\": \"Chatwoot\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -140
      ],
      "id": "e79dac62-eb35-40c7-8ff4-d21ea60d498a",
      "name": "HTTP Request1",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.chatwoot.com/api/v1/accounts/5/contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        140
      ],
      "id": "ab9f0569-8f42-42bc-a922-0cb13dc7a250",
      "name": "HTTP Request2",
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message?": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        []
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hook.multidesk.io",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "3903",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "5.161.237.57",
            "x-forwarded-host": "hook.multidesk.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "81b41f80ab23",
            "x-real-ip": "5.161.237.57"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 5,
              "name": "Diego"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "123456",
            "conversation": {
              "additional_attributes": {
                "mail_subject": "undefined"
              },
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 2466,
                "contact_id": 225819,
                "inbox_id": 31,
                "source_id": "7e3dde5c-180c-499c-9d76-420bd81e859e",
                "created_at": "2025-04-11T23:15:06.246Z",
                "updated_at": "2025-04-11T23:15:06.246Z",
                "hmac_verified": false,
                "pubsub_token": "zeVitbWuk9B4zNiH5qYbiD7D"
              },
              "id": 25,
              "inbox_id": 31,
              "messages": [
                {
                  "id": 11142,
                  "content": "123456",
                  "account_id": 5,
                  "inbox_id": 31,
                  "conversation_id": 25,
                  "message_type": 1,
                  "created_at": 1744413556,
                  "updated_at": "2025-04-11T23:19:16.580Z",
                  "private": false,
                  "status": "sent",
                  "source_id": null,
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "User",
                  "sender_id": 1,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "123456",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": 1,
                    "unread_count": 0,
                    "last_activity_at": 1744413556,
                    "contact_inbox": {
                      "source_id": "7e3dde5c-180c-499c-9d76-420bd81e859e"
                    }
                  },
                  "sender": {
                    "id": 1,
                    "name": "SendZap",
                    "available_name": "Gabriel - DCury",
                    "avatar_url": "http://https/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaThEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--959be906aa4ec03fc01ac765cb0b5fd36b989d07/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--10d13bc0723f0907b9d4e86587b3ab70a8302937/file%20(3).png",
                    "type": "user",
                    "availability_status": null,
                    "thumbnail": "http://https/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaThEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--959be906aa4ec03fc01ac765cb0b5fd36b989d07/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--10d13bc0723f0907b9d4e86587b3ab70a8302937/file%20(3).png"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "city": "",
                    "country": "",
                    "description": "",
                    "company_name": "",
                    "country_code": "",
                    "social_profiles": {
                      "github": "",
                      "twitter": "",
                      "facebook": "",
                      "linkedin": "",
                      "instagram": ""
                    }
                  },
                  "custom_attributes": {},
                  "email": null,
                  "id": 225819,
                  "identifier": null,
                  "name": "PH",
                  "phone_number": "+5562981154120",
                  "thumbnail": "",
                  "type": "contact"
                },
                "assignee": {
                  "id": 1,
                  "name": "SendZap",
                  "available_name": "Gabriel - DCury",
                  "avatar_url": "http://https/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaThEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--959be906aa4ec03fc01ac765cb0b5fd36b989d07/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--10d13bc0723f0907b9d4e86587b3ab70a8302937/file%20(3).png",
                  "type": "user",
                  "availability_status": null,
                  "thumbnail": "http://https/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaThEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--959be906aa4ec03fc01ac765cb0b5fd36b989d07/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--10d13bc0723f0907b9d4e86587b3ab70a8302937/file%20(3).png"
                },
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 0,
              "first_reply_created_at": "2025-04-11T23:15:06.271Z",
              "priority": null,
              "waiting_since": 0,
              "agent_last_seen_at": 1744413556,
              "contact_last_seen_at": 0,
              "last_activity_at": 1744413556,
              "timestamp": 1744413556,
              "created_at": 1744413306
            },
            "created_at": "2025-04-11T23:19:16.580Z",
            "id": 11142,
            "inbox": {
              "id": 31,
              "name": "teste"
            },
            "message_type": "outgoing",
            "private": false,
            "sender": {
              "id": 1,
              "name": "SendZap",
              "email": "admin@sendzap.com.br",
              "type": "user"
            },
            "source_id": null,
            "event": "message_created"
          },
          "webhookUrl": "https://hook.multidesk.io/webhook/abb5967e-c11a-425b-95fe-2145b824f66f",
          "executionMode": "production"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "556136866201",
            "phone_number_id": "662809173574386"
          },
          "contacts": [
            {
              "profile": {
                "name": "PH"
              },
              "wa_id": "556281154120"
            }
          ],
          "messages": [
            {
              "from": "556281154120",
              "id": "wamid.HBgMNTU2MjgxMTU0MTIwFQIAEhgWM0VCMEU4REFDMTBBQjFFNjZBQjZFMAA=",
              "timestamp": "1744415609",
              "text": {
                "body": "123"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "071b7e6c-f6d2-440d-b05a-7c98a92124b3",
  "triggerCount": 3,
  "tags": []
}