a2B2fAomaxLD8Csf.json
{
  "createdAt": "2024-11-25T17:27:37.257Z",
  "updatedAt": "2025-03-24T21:13:05.472Z",
  "id": "a2B2fAomaxLD8Csf",
  "name": "Backup GITHUB",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -260
      ],
      "id": "5d3cd487-a709-4548-a559-86a8562a8c41",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -540,
        -100
      ],
      "id": "7b2029d4-29b1-4f5b-b348-68e22b76e045",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "96gMAQDOnCoYxksT",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.Owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.Repository }}",
          "mode": "name"
        },
        "filePath": "={{ $json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -260,
        -240
      ],
      "id": "c5d298c7-6044-4bb0-827e-eeeed18cfc2e",
      "name": "GitHub",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "nt1oLzBVNLqOmPMs",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69ff67c7-67c6-4710-bf3d-cf5bba8d0acc",
              "name": "Owner",
              "value": "multideskio",
              "type": "string"
            },
            {
              "id": "cdda19d1-13ef-41f6-bae0-14c0d29eee3a",
              "name": "Repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -100
      ],
      "id": "194c8870-d24d-4e58-92f7-e79f55d8f2ad",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b1afbbf-f0b4-43f1-87f9-d58268c3c6db",
              "name": "data",
              "value": "={{ $json.toJsonString() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        0
      ],
      "id": "94fa1cfb-f855-4eda-ad54-48e62c67b37e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        -240
      ],
      "id": "637a405e-f6a4-47c2-816c-80d237d30a55",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        200,
        -100
      ],
      "id": "0ab7afd9-1530-49a5-90f8-1a27c8e0ee1c",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        680,
        140
      ],
      "id": "0adee326-d953-47c0-a75f-217ecddfe67e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.Owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.Repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields2').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Edit Fields2').item.json.name }} {{ $now.toString() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        880,
        140
      ],
      "id": "7b319e3e-6522-4161-a59a-d72215ade422",
      "name": "GitHub1",
      "credentials": {
        "githubOAuth2Api": {
          "id": "nt1oLzBVNLqOmPMs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        140
      ],
      "id": "114f8ae8-e10c-486d-b387-353a3c68f6ee",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        660,
        -60
      ],
      "id": "a30115ac-7fd7-40a9-af75-5f0165d2f605",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.Owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.Repository }}",
          "mode": "name"
        },
        "filePath": "={{ $('Edit Fields3').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Edit Fields3').item.json.name }} {{ $now.toString() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        860,
        -60
      ],
      "id": "a097b6a8-1611-4ac8-abb9-1842474c074f",
      "name": "GitHub2",
      "credentials": {
        "githubOAuth2Api": {
          "id": "nt1oLzBVNLqOmPMs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -60
      ],
      "id": "5fabf3e6-df31-41f7-abbc-c4fd57f6b814",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        60
      ],
      "id": "18ad8a29-bd0a-4ba2-9b9f-03efa0d5cede",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        18
      ]
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "f8e5a582-08dd-4e0e-be51-9a385605fb0d",
  "triggerCount": 1,
  "tags": []
}