bcXQiqenAdwQAVjV.json
{
  "createdAt": "2025-06-09T22:46:33.036Z",
  "updatedAt": "2025-06-09T22:47:29.981Z",
  "id": "bcXQiqenAdwQAVjV",
  "name": "Cadastra usuário direto na plataforma",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://memberclass.com.br/api/webhook/kiwify/clz0be3b7000112ct5n2w6xbf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"order_status\": \"paid\",\n\t\"product_type\": \"membership\",\n\t\"webhook_event_type\": \"order_approved\",\n\t\"Product\": {\n\t\t\"product_id\": \"psk3pz4n9z00dlbe9urj\",\n\t\t\"product_name\": \"PropositoBank\"\n\t},\n\t\"Customer\": {\n\t\t\"full_name\": \"{{ $json[\"nome\"] }}\",\n\t\t\"first_name\": \"\",\n\t\t\"email\": \"{{ $json[\"email\"] }}\",\n\t\t\"mobile\": \"{{ $json[\"tel\"] }}\",\n\t\t\"CPF\": \"\",\n\t\t\"ip\": \"{{ $('Webhook').item.json[\"headers\"][\"cf-connecting-ip\"] }}\"\n\t},\n\t\"Commissions\": {\n\t\t\"charge_amount\": \"0\",\n\t\t\"product_base_price\": \"0\",\n\t\t\"kiwify_fee\": \"0\"\n\t}\n}",
        "options": {}
      },
      "id": "e6e03b68-03f4-4dcf-9100-95a58e9a0f25",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "content": "## O que esse fluxo faz?\nO fluxo realizada o cadastro de usuário direto na plataforma do Pr Rafael",
        "width": 378
      },
      "id": "41d9674c-c39a-4ed3-9248-efac9b61689f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0383e566-bff8-4471-b70b-57709cbf0bea",
              "leftValue": "Success!",
              "rightValue": "={{ $json.data }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ebeeb4e-be92-4b88-ba50-fa8f4eb43ebd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        520,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/message/sendText/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json[\"telefone\"] }}\",\n  \"text\": \"{{ $json[\"message\"].replace(/\\r?\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "cb406cea-6238-4a24-88a0-897bd966c00f",
      "name": "Envia no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json[\"urlApi\"] }}/chat/whatsappNumbers/{{ $json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $('Webhook').item.json.body.__submission.user_inputs.phone }}\"\n  ]\n}",
        "options": {}
      },
      "id": "f3220d9f-bccc-4444-8c7d-8ddde815472e",
      "name": "Numero-tel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        100
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "urlApi",
              "stringValue": "https://evo2.multidesk.io"
            },
            {
              "name": "instace",
              "stringValue": "dinamus"
            },
            {
              "name": "key",
              "stringValue": "6FAD0A4D48B8-4C5F-9309-D77D76E0D741"
            }
          ]
        },
        "options": {}
      },
      "id": "2f7b0d84-b1f5-408f-bd7e-39d12985bda9",
      "name": "Dados-API",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        740,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "71378cc6-23da-4f44-955d-556782857308",
      "name": "True",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/chat/whatsappNumbers/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json.key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"55{{ $('Webhook').item.json[\"body\"][\"event\"][\"usuario\"][\"celular\"] }}\"\n  ]\n}",
        "options": {}
      },
      "id": "ca4a642e-6fc2-487d-a8e1-0710235d38ad",
      "name": "Numero-tel1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d00db68-8a45-4d7b-b11a-38248c0018a7",
              "name": "message",
              "value": "=🌟 *Bem-vindo(a), {{ $('Webhook').item.json[\"body\"][\"names\"][\"first_name\"].split(\" \")[0] }}!* 🌟\n\n🎉 Estamos empolgados em tê-lo(a) na *PROPÓSITO ACADEMY*! Os dados de acesso foram enviados para o seu e-mail. 📧\n\n🔒 *Por segurança*, a senha foi enviada uma única vez. Se precisar alterá-la, basta acessar https://propositoacademy.com/login-email, clicar em _Esqueceu a senha?_ e inserir o seu e-mail.\n\n📩 Acesse seu e-mail e siga as instruções para redefinir sua senha.\n\n🚀 Aproveite ao máximo sua jornada na nossa plataforma!",
              "type": "string"
            },
            {
              "id": "87ecd99b-1ccf-41b9-a5a5-dcad16d36010",
              "name": "telefone",
              "value": "={{ $json.jid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3be03cfa-f077-4231-94ac-ce30c1bab333",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "999d429d-a53b-4104-8c9b-da0e64756163",
        "options": {}
      },
      "id": "1fe0fec0-3d4c-47d4-8677-5acd2347fc40",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -140,
        100
      ],
      "webhookId": "9b239fa2-2e2c-4b90-b8e4-af9660bb3e2e"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "nome",
              "stringValue": "={{ $json.body.names.first_name }}"
            },
            {
              "name": "email",
              "stringValue": "={{ $json.body.email }}"
            },
            {
              "name": "tel",
              "stringValue": "={{ $json.body.phone }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1a85e346-65ed-48f1-b6e1-abdd577ac5b0",
      "name": "Dados recebidos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        80,
        100
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4cb5bf1e-5b76-4be3-8c15-feacaa71e1d9",
                    "leftValue": "={{ $json.exists }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9f03780b-8341-41a3-a669-5a6d2dc7d3bb",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1180,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d00db68-8a45-4d7b-b11a-38248c0018a7",
              "name": "message",
              "value": "=🌟 *Bem-vindo(a), {{ $('Webhook').item.json[\"body\"][\"names\"][\"first_name\"].split(\" \")[0] }}!* 🌟\n\n🎉 Estamos empolgados em tê-lo(a) na *PROPÓSITO ACADEMY*! Os dados de acesso foram enviados para o seu e-mail. 📧\n\n🔒 *Por segurança*, a senha foi enviada uma única vez. Se precisar alterá-la, basta acessar https://propositoacademy.com/login-email, clicar em _Esqueceu a senha?_ e inserir o seu e-mail.\n\n📩 Acesse seu e-mail e siga as instruções para redefinir sua senha.\n\n🚀 Aproveite ao máximo sua jornada na nossa plataforma!",
              "type": "string"
            },
            {
              "id": "87ecd99b-1ccf-41b9-a5a5-dcad16d36010",
              "name": "telefone",
              "value": "={{ $json.jid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "54da03f3-72fa-4a2d-9647-337cb0593f9e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1840,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados-API').item.json[\"urlApi\"] }}/message/sendText/{{ $('Dados-API').item.json[\"instace\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados-API').item.json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json[\"telefone\"] }}\",\n  \"text\": \"{{ $json[\"message\"].replace(/\\r?\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "3b755a09-1a69-4e47-975a-21cfcbc66a30",
      "name": "Envia no WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        200
      ]
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Dados-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numero-tel": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados-API": {
      "main": [
        [
          {
            "node": "Numero-tel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numero-tel1": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Envia no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados recebidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados recebidos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Numero-tel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Envia no WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f2a117bc-dec3-4623-882c-5cbe76c10061",
  "triggerCount": 0,
  "tags": []
}