iiQykAwknq4kC9Zs.json
{
  "createdAt": "2025-02-05T02:15:00.736Z",
  "updatedAt": "2025-03-30T05:52:34.892Z",
  "id": "iiQykAwknq4kC9Zs",
  "name": "ANOTA DESPESAS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc219347-8e7d-42cd-90d2-2410f2e7f4c1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        -40
      ],
      "id": "c011f7a3-8c3e-4f41-b0e3-8f3f5b825ca9",
      "name": "Webhook",
      "webhookId": "bc219347-8e7d-42cd-90d2-2410f2e7f4c1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "create",
                    "rightValue": "={{ $json.body.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea6da4db-d391-4a1f-bcf7-ba8d6d6c28e5",
                    "leftValue": "update",
                    "rightValue": "={{ $json.body.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4036e24-c6ee-412e-84f7-5dcbfd5f7919",
                    "leftValue": "delete",
                    "rightValue": "={{ $json.body.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f0402ac-db94-40fc-818a-55855b1e2034",
                    "leftValue": "get",
                    "rightValue": "={{ $json.body.type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        -60
      ],
      "id": "0a828a0c-718c-4547-812b-af2dd304ce24",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1M3JAwK79wkmZU1FL1d13ZDQlzUu_ymGpZWtzNqOruj0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Despezas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M3JAwK79wkmZU1FL1d13ZDQlzUu_ymGpZWtzNqOruj0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.body.data.toDateTime().format('dd/MM/y') }}",
            "descrição": "={{ $json.body.descricao }}",
            "valor": "={{ $json.body.valor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descrição",
              "displayName": "descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        -260
      ],
      "id": "af5db31a-954c-43dc-b862-7d17e8b4b32e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlWuaL18BrL092ZL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        220,
        -260
      ],
      "id": "96ab79ee-c577-40aa-a0f6-4d44ec5c4cab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1M3JAwK79wkmZU1FL1d13ZDQlzUu_ymGpZWtzNqOruj0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Despezas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M3JAwK79wkmZU1FL1d13ZDQlzUu_ymGpZWtzNqOruj0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "data",
              "lookupValue": "={{ $json.body.data.toDateTime().format('dd/MM/y') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        140
      ],
      "id": "c24eedca-3936-463a-b304-99975d45b6a5",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlWuaL18BrL092ZL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hook.multidesk.io",
            "user-agent": "axios/1.7.4",
            "content-length": "61",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "hook.multidesk.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61a872d84fef",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "get",
            "data": "2025-02-04",
            "descricao": "",
            "valor": "0"
          },
          "webhookUrl": "https://hook.multidesk.io/webhook/bc219347-8e7d-42cd-90d2-2410f2e7f4c1",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "b9ebafac-ac0d-46e6-a1c0-ea1ec404d91e",
  "triggerCount": 1,
  "tags": []
}