koGFHQ9K2Jd9UbQS.json
{
  "createdAt": "2025-01-16T20:42:34.662Z",
  "updatedAt": "2025-03-30T05:52:20.197Z",
  "id": "koGFHQ9K2Jd9UbQS",
  "name": "DADOS DOS GRUPOS PARA O FLOWISE",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"quantidade\" : \"Quantidade de grupos disponiveis: {{ JSON.stringify($json['data'].length) }}}\",{{ $json.data.toString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1220,
        200
      ],
      "id": "ce9d1e54-35d2-457f-b951-6e9cef245115",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "=list_ph_groups",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1380,
        200
      ],
      "id": "bda77301-fcaa-47bb-9a01-c671a63bf1da",
      "name": "Redis",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "path": "6c6468b8-05fb-4e9d-8ad0-c5163ebff4d2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        200
      ],
      "id": "95506543-2c93-44ce-a539-330e1e497f06",
      "name": "Webhook",
      "webhookId": "6c6468b8-05fb-4e9d-8ad0-c5163ebff4d2"
    }
  ],
  "connections": {
    "Redis": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hook.multidesk.io",
            "user-agent": "axios/1.6.2",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "hook.multidesk.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61a872d84fef",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://hook.multidesk.io/webhook/6c6468b8-05fb-4e9d-8ad0-c5163ebff4d2",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "75d11ac0-690b-4546-8c68-10741706247d",
  "triggerCount": 1,
  "tags": []
}