lQq0ylifCVtwPESG.json
{
  "createdAt": "2024-08-05T20:50:04.585Z",
  "updatedAt": "2024-10-29T04:31:03.147Z",
  "id": "lQq0ylifCVtwPESG",
  "name": "h7Contabil - Comunicado de extratos",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 9
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 13
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 16
            }
          ]
        }
      },
      "id": "44f5fd5b-9700-4042-b0c2-233d3750da6b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5a5e345-1595-4869-bb9f-8c990393d5d4",
              "name": "urlApi",
              "value": "https://evo1.conect.app",
              "type": "string"
            },
            {
              "id": "a56e6ebe-939f-4c94-b158-3c33ad260fa2",
              "name": "instance",
              "value": "h7_contabil",
              "type": "string"
            },
            {
              "id": "1fd96c3a-b475-46a2-94a2-8e0c50cb1a90",
              "name": "apikey",
              "value": "c7qhana17473u5x0ozwdho",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3f891bac-34d3-4f26-a933-a086cbfdccff",
      "name": "Dados Api WA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        420,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A",
          "mode": "list",
          "cachedResultName": "AUTOMAÇÃO - H7 CONTÁBIL + ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 973691982,
          "mode": "list",
          "cachedResultName": "COMUNICADO DE EXTRATOS - CONTABIL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit#gid=973691982"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "15f031a2-cdba-405c-9185-0f94ed39841d",
      "name": "Busca todos os registros",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        620,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e1S56x7RtXAAc0zk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "3ea4b2c0-29c3-4ca4-a6d5-6ea980c7e54e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        380
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A",
          "mode": "list",
          "cachedResultName": "AUTOMAÇÃO - H7 CONTÁBIL + ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 973691982,
          "mode": "list",
          "cachedResultName": "COMUNICADO DE EXTRATOS - CONTABIL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit#gid=973691982"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Busca todos os registros').item.json.row_number }}",
            "STATUS": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMPENTENCIA",
              "displayName": "COMPENTENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESPONSAVEL",
              "displayName": "RESPONSAVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GRUPO",
              "displayName": "GRUPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMBER TEST",
              "displayName": "NUMBER TEST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "2b78e123-2e74-4376-bb6f-bd4aa5f9d694",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2240,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e1S56x7RtXAAc0zk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": "=20"
      },
      "id": "3b829f01-a38c-425a-aa01-ce10884b9ae6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        720
      ],
      "webhookId": "267ab902-7364-45b1-b755-92b33adc2d57"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Api WA').item.json.urlApi }}/chat/whatsappNumbers/{{ $('Dados Api WA').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados Api WA').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\"numbers\":[\"{{ $json[\"TELEFONE\"] }}\"]} ",
        "options": {}
      },
      "id": "c79f6eca-962f-4d06-8b5d-965521f4643b",
      "name": "Verifica se tem whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d8dc9e9d-8419-44e1-92ea-03c8552920ad",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77f141f3-5766-4ddd-acd6-c77a12567d4e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A",
          "mode": "list",
          "cachedResultName": "TESTE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 973691982,
          "mode": "list",
          "cachedResultName": "COMUNICADO DE EXTRATOS - CONTABIL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13uKVK_zolH84giGfUZI9nHFGbb1IYManCxC5W-aWd6A/edit#gid=973691982"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Busca todos os registros').item.json.row_number }}",
            "STATUS": "Erro ao enviar"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMPENTENCIA",
              "displayName": "COMPENTENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RESPONSAVEL",
              "displayName": "RESPONSAVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GRUPO",
              "displayName": "GRUPO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMBER TEST",
              "displayName": "NUMBER TEST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e7e2c58a-0a47-4442-a7c6-ce41b083f237",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1460,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "e1S56x7RtXAAc0zk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Api WA').item.json.urlApi }}/message/sendText/{{ $('Dados Api WA').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados Api WA').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('If1').item.json[\"jid\"] }}\",\n  \"textMessage\": {\n    \"text\": \"{{ $json[\"message\"].replace(/\\r?\\n/g, '\\\\n')}}\\n\\n_Obs.:_ _Essa é uma notificação automática através do nosso canal inteligente, caso haja necessidade de falar com um analista, entre em contato pelo nosso Nr Oficial_ 62 98311-0573\\n\\n⚠️ _Salve esse número para continuar recebendo nossas notificações_\"\n  }\n}",
        "options": {}
      },
      "id": "289b7fb2-9a17-4b99-ac9a-c4581b6354e3",
      "name": "Envia mensagem para o admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c1c3a5d-0539-4321-907d-7a8a94675c65",
              "name": "message",
              "value": "=Olá, aguardamos o envio do Extrato Bancário/Conciliação Bancária da empresa: {{ $('Busca todos os registros').item.json[\"EMPRESA\"] }}, referente a {{ $('Busca todos os registros').item.json[\"COMPENTENCIA\"] }} até o dia 10 (dez) desse mês para que a contabilidade da sua empresa não fique atrasada.\n\nCaso já tenha enviado, favor desconsiderar esse informativo, ou envie pelo email contabil@h7contabil.com.br.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07c92025-0854-4453-aa78-02ed0a9d34f1",
      "name": "Prorrogação 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        360
      ]
    },
    {
      "parameters": {},
      "id": "a05bf99a-6e99-42d4-8861-8987811ae7d6",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ee8168cb-ba1a-4467-9d4f-8be2eb23c8e5",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "799c383b-bb3e-46f3-9443-1fec0fa1715d",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "path": "h7contabil-comunicado-de-extratos",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "3209acc2-b5d0-4eac-9fa8-1680ed25d697",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        560
      ],
      "webhookId": "147de2b2-90e4-439e-8e4d-557d82509258",
      "credentials": {
        "httpBasicAuth": {
          "id": "HJyfAwHaOHkwRuZu",
          "name": "h7 contábil"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Dados Api WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Api WA": {
      "main": [
        [
          {
            "node": "Busca todos os registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca todos os registros": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem whatsapp": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Prorrogação 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem para o admin": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prorrogação 2": {
      "main": [
        [
          {
            "node": "Envia mensagem para o admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Verifica se tem whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados Api WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a187f22c-4146-4fcd-84e7-b0f0dd14fff6",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-13T16:11:34.847Z",
      "updatedAt": "2024-07-13T16:11:34.847Z",
      "id": "CjoXrtzoPVwrqxmf",
      "name": "h7Contabil"
    }
  ]
}