nphyJsz1vbfN4hX2.json
{
  "createdAt": "2025-05-23T22:47:05.622Z",
  "updatedAt": "2025-05-23T22:55:46.267Z",
  "id": "nphyJsz1vbfN4hX2",
  "name": "My workflow 9",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1e34bbf9-4e7f-4003-8365-355598ebd4ce",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -60
      ],
      "id": "63db8013-b03f-4924-a039-f4f3d846a3ff",
      "name": "Webhook",
      "webhookId": "1e34bbf9-4e7f-4003-8365-355598ebd4ce"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        180,
        -60
      ],
      "id": "fe3b0242-572d-43f6-811d-de8432fa3507",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Seu nome é Alexandre.\nHorario de agora: {{$now}}\n\nResponda em json, dessa forma:\n\n{\n   \"response\" : \"Sua mensagem\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -220,
        -60
      ],
      "id": "0b1c443c-65d1-4776-b3aa-c64262cdb187",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -140,
        160
      ],
      "id": "216c9558-b1d2-42ee-925b-8c4cb585bab8",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        160
      ],
      "id": "1ff6097e-f9d0-4862-ae5f-aa7c6c893425",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BFWaDuwRQfGru8wL",
          "name": "TESTES PH"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hook.multidesk.io",
            "user-agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Mobile Safari/537.36",
            "content-length": "96",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "143.0.254.239",
            "x-forwarded-host": "hook.multidesk.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "007b3bfbd68a",
            "x-real-ip": "143.0.254.239"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "cf97c7f4-33a5-437c-b94f-0ff594a5f005",
            "message": "Quero saber o que vc pode fazer"
          },
          "webhookUrl": "https://hook.multidesk.io/webhook/1e34bbf9-4e7f-4003-8365-355598ebd4ce",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "bdce29cf-4bcd-4267-a6f0-b5f8382de763",
  "triggerCount": 1,
  "tags": []
}