qdBwxZfcO5CW39yl.json
{
  "createdAt": "2025-05-16T15:15:22.458Z",
  "updatedAt": "2025-06-09T23:05:35.449Z",
  "id": "qdBwxZfcO5CW39yl",
  "name": "My workflow 6",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "instagram/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        -60
      ],
      "id": "3b6621d1-70c7-4098-92f8-347c7eca25de",
      "name": "Webhook",
      "webhookId": "a4d2d17f-af57-4bad-af6f-1ebcacf54a11"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        460,
        -60
      ],
      "id": "9740e467-9292-4b68-8177-5a5ac067f37f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "4167974273424130"
            },
            {
              "name": "client_secret",
              "value": "b9afb311126f21b34dcffa41227e2782"
            },
            {
              "name": "redirect_uri",
              "value": "https://hook.multidesk.io/webhook/instagram/callback"
            },
            {
              "name": "code",
              "value": "={{ $json[\"query\"][\"code\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -60
      ],
      "id": "764171c8-2212-4e70-9cb4-99e2fc508d1a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "4167974273424130"
            },
            {
              "name": "client_secret",
              "value": "b9afb311126f21b34dcffa41227e2782"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $('HTTP Request').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -60
      ],
      "id": "a5659b59-4035-44c7-b1dc-e8efba99896f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw",
          "mode": "list",
          "cachedResultName": "VIDEIRA CANEDO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 692827422,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit#gid=692827422"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.access_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "long token",
              "displayName": "long token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -20,
        -60
      ],
      "id": "c28dee89-465b-44b1-83ff-e82b9d981d23",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw",
          "mode": "list",
          "cachedResultName": "VIDEIRA CANEDO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 692827422,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit#gid=692827422"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $('Google Sheets').item.json.token }}",
            "long token": "={{ $json.access_token }}"
          },
          "matchingColumns": [
            "token"
          ],
          "schema": [
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "long token",
              "displayName": "long token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        -260
      ],
      "id": "10632b80-75e8-42a8-9abf-9fd188c8ff3b",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        220
      ],
      "id": "6683170e-e0a7-4027-92e3-5544b11a6cff",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v22.0/me/accounts?access_token={{ $json['long token'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        220
      ],
      "id": "988b3f12-2a12-4259-82e7-2a8b3d5699ae",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw",
          "mode": "list",
          "cachedResultName": "VIDEIRA CANEDO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 692827422,
          "mode": "list",
          "cachedResultName": "tokens",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1662P-7YKnw7DJcH3uuqi7FotvKMi9Vrrhq1RwX0tw/edit#gid=692827422"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -500,
        220
      ],
      "id": "6da5ee92-d715-45d8-88fc-5d5014045c8d",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "67a8180f-26c4-453e-b789-26f7da457566",
  "triggerCount": 1,
  "tags": []
}