RbjVoqqWOPwaLKuQ.json
{
  "createdAt": "2025-04-11T14:15:36.751Z",
  "updatedAt": "2025-06-09T23:04:11.398Z",
  "id": "RbjVoqqWOPwaLKuQ",
  "name": "RECEBO",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1080,
        140
      ],
      "id": "a447b52a-5daa-43f8-b0e8-3150dc51608a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/662809173574386/register",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAJOsYyNwWYBO3ZAq1q0CZBAOWM01hXClE3RlQ3oH52BtGzcTZCMLo028kcb5NaKzMcK8bwNTq5EH1H8nZAbeAkzwHjFPbi2nn09AVBNfZBJ0T2yBoiSwDMJ59QqA4c7ZAIFpXZA1wLP2NEZCDAccSIaJ5uCeXbbV9ZB0NZCdmzSYwRJWNnp9Ty5UpbsfN8OmZB5zVvBQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "pin",
              "value": "123456"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        -120
      ],
      "id": "38f91499-0f24-4df9-9897-7ea42e79b733",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "phoneNumberId": "662809173574386",
        "recipientPhoneNumber": "5562981154120",
        "template": "celula|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "Paulo"
                  },
                  {
                    "text": "https://videiracanedo.com.br/palavra-da-celula/o-poder-de-olhar-pra-jesus-5/"
                  }
                ]
              }
            },
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "text": "={{ $now.format('dd/MM/yyyy')}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -840,
        140
      ],
      "id": "6dc4b168-f05f-4fb8-8d41-4ac09425ff84",
      "name": "WhatsApp Business Cloud",
      "webhookId": "03fc764a-a373-4c5a-9139-80c3a7c14fa6",
      "credentials": {
        "whatsAppApi": {
          "id": "fsDXKfeMv1tVvrBU",
          "name": "PH-PROD"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages",
          "message_template_status_update",
          "phone_number_name_update",
          "template_category_update"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        640
      ],
      "id": "067ec15c-382a-457d-a384-f69b170b7d0e",
      "name": "WhatsApp Trigger",
      "webhookId": "eb23b8ce-a240-474c-83ce-a2bbfee790fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "1s5U79wZq7nCF7H6",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "8a765e57-8e39-4547-a99a-0458df2b75f4",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "1ef93159-0287-467d-ad9f-59ed703f9911",
      "name": "Is message?",
      "type": "n8n-nodes-base.if",
      "position": [
        -40,
        340
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Name Client: {{ $json.contacts[0].profile.name }}\n\nYou are a helpful assistant "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        180,
        240
      ],
      "id": "e38983eb-0fd3-4280-af17-8b034cac83e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        460
      ],
      "id": "42fe8624-c807-4c88-a143-530d247b8c38",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E2kIPBw3otjaqfbR",
          "name": "VALIDACAO_PABLO"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Is message?').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        320,
        460
      ],
      "id": "613f317e-6418-4eae-824e-934bc9144ac6",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Is message?').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Is message?').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "4c138820-d044-40a3-84a7-b34ee95a8e42",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "571318e8-35ae-4a53-80d8-59b6a5649ae9",
      "credentials": {
        "whatsAppApi": {
          "id": "fsDXKfeMv1tVvrBU",
          "name": "PH-PROD"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2540c0de-9784-4c8b-ae81-6336dddce721",
                    "leftValue": "={{ $json.statuses[0].status }}",
                    "rightValue": "delivered",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "859922d4-b56a-404a-a209-67d192101764",
                    "leftValue": "={{ $json.statuses[0].status }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        1000
      ],
      "id": "b1385c8e-07db-42c5-8179-6c64c09584a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774946797,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=774946797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.contacts[0].wa_id }}",
            "name": "={{ $json.contacts[0].input }}",
            "id_message": "={{ $json.messages[0].id }}",
            "status": "=Enviado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_message",
              "displayName": "id_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -560,
        140
      ],
      "id": "e2782b6e-8bbe-4591-8814-c4a9819dd036",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774946797,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=774946797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "=Entregue",
            "phone": "={{ $('Switch').item.json.statuses[0].recipient_id }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_message",
              "displayName": "id_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        840
      ],
      "id": "1975928c-7717-4ab0-a234-d3f2da00b483",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774946797,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=774946797"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.statuses[0].recipient_id }}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "Lido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        860
      ],
      "id": "d9d5dc3c-8e03-4b9d-a7d7-87936b1406ab",
      "name": "Google Sheets3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ccc590b-42bb-47be-a82e-5e5380faecbb",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        860
      ],
      "id": "919e8172-991c-4e96-b156-4c40294cda6a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774946797,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=774946797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "=Lido",
            "phone": "={{ $('Switch').item.json.statuses[0].recipient_id }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_message",
              "displayName": "id_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1160
      ],
      "id": "61db485d-9cd2-4ddf-8aa1-1aa4f1bf2918",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774946797,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=774946797"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{ $('WhatsApp Trigger').item.json.statuses[0].recipient_id }}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "Lido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -220,
        1180
      ],
      "id": "5bf78901-061d-4775-98d1-529f4ec25a3d",
      "name": "Google Sheets7",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ccc590b-42bb-47be-a82e-5e5380faecbb",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        1180
      ],
      "id": "089cb178-f766-4f22-ab05-569e87eb62ed",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        420,
        840
      ],
      "id": "328840d1-d4ab-4245-a5cf-ba7b318d28cb",
      "name": "Wait",
      "webhookId": "4e1df739-e935-4d62-8fb1-4ec00362d039"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is message?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9c253cd5-6816-456b-8bcd-207b322ea090",
  "triggerCount": 1,
  "tags": []
}