RYe95AT5vxEjUIhS.json
{
  "createdAt": "2025-04-11T08:01:00.436Z",
  "updatedAt": "2025-06-09T23:03:38.460Z",
  "id": "RYe95AT5vxEjUIhS",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "phoneNumberId": "=398994436636944",
        "recipientPhoneNumber": "=5562981154120",
        "template": "confirm|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.code }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "type": "text",
                  "text": "={{ $json.code }}"
                }
              }
            }
          ]
        }
      },
      "id": "3672501d-fb5a-45f0-ba35-3aae7d38e938",
      "name": "Sent notification  template",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        440,
        120
      ],
      "typeVersion": 1,
      "webhookId": "de8e7fc3-90c5-4545-b383-516dec83dd1e",
      "credentials": {
        "whatsAppApi": {
          "id": "NHmHOv1id2Y7bg90",
          "name": "PH"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "4dc213fe-30a8-448c-b7bd-56951410126e",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        880,
        480
      ],
      "webhookId": "b06b387a-481e-43f1-9035-01a87123ad88",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Hyuvm06E2gToeIlN",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "8a765e57-8e39-4547-a99a-0458df2b75f4",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "eafa7bde-f3c6-45b9-b38f-5d44245fcbb7",
      "name": "Is message?",
      "type": "n8n-nodes-base.if",
      "position": [
        1100,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "dc37a6c0-de88-4e9d-8e74-6b28f574248d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        1000
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1b07f1cf-489f-47be-a98a-5dd7f6acc732",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        300,
        1000
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp Appointments (Responses)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1621824221,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit#gid=1621824221",
          "cachedResultName": "WA-messages"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "id": "71c2c6d3-5800-414e-9a86-e854dbb7ad41",
      "name": "Get new answers",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        80,
        1000
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "398994436636944",
        "recipientPhoneNumber": "=+{{ $json.UserPhone }}",
        "textBody": "={{ $json.ReplyText }}",
        "additionalFields": {}
      },
      "id": "2b2e3a4b-2278-4628-b04d-2b979a5bfef8",
      "name": "Reply to the user",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        520,
        1000
      ],
      "typeVersion": 1,
      "webhookId": "44c13285-c965-4e84-afba-609878574f28",
      "credentials": {
        "whatsAppApi": {
          "id": "NHmHOv1id2Y7bg90",
          "name": "PH"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit?usp=drivesdk",
          "cachedResultName": "WhatsApp Appointments (Responses)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1621824221,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit#gid=1621824221",
          "cachedResultName": "WA-messages"
        },
        "columns": {
          "value": {
            "Status": "Replied",
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "UserPhone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "UserPhone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "UserName",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "UserName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "UserMessage",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "UserMessage",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ReplyText",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ReplyText",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ]
        },
        "options": {}
      },
      "id": "7dc21c6d-a111-4fa5-890f-1bb7e26a9db2",
      "name": "Update message status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        700,
        1000
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "62277ba9-eef4-4560-8514-43c36424e0c2",
      "name": "Wait 1 sec",
      "type": "n8n-nodes-base.wait",
      "position": [
        880,
        1000
      ],
      "webhookId": "df4df4f8-378c-4228-b1e2-326b9d956e7e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp": "={{ $json.contacts[0].input }}",
            "status": "={{ $('Edit Fields').item.json.code }}"
          },
          "matchingColumns": [
            "whatsapp"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "I consent to receive WhatsApp notifications regarding my appointments",
              "displayName": "I consent to receive WhatsApp notifications regarding my appointments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9a71649b-31eb-4f66-9226-c655b7407f67",
      "name": "New message from the user",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        620,
        120
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b9bfdb33-0d9c-4320-b4bc-0bf0a469c8ca",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[\"I consent to receive WhatsApp notifications regarding my appointments\"] }}",
              "rightValue": "Yes"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64c47571-54e2-43be-b12e-138056e102d9",
      "name": "User consented for WA messages?",
      "type": "n8n-nodes-base.filter",
      "position": [
        100,
        120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Send a WhatsApp (WA) template message\nOccurs after a user submitted a new Google form. If the user opted-in for WA notifications during the form submission, a template message will be sent via WhatsApp.\n\n**IMPORTANT!**\n1. You will need to create a new WA template message on the [Meta Business portal](https://business.facebook.com/wa/manage/message-templates/)\n2. To send outgoing WA messages you'll need an Access Token and a WhatsApp Business Account ID. These can be obtained via Meta Developers Portal after creating an a new App. Please refer to this [n8n blog article on creating WhatsApp bots](https://blog.n8n.io/whatsapp-bot/#step-1-set-up-a-whatsapp-business-account)",
        "height": 404.8383233532937,
        "width": 744.5356369854154
      },
      "id": "d4746261-2ba9-4d43-aae4-9da2208ef941",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Store incoming WhatsApp user messages in a Google Sheet\nTo receive user messages, you need to add a WhatsApp Trigger node. In the credentials section provide an App ID and an App secret. These are obtained from the Meta Developers Portal, Basic App settings screen\n\nAfter the credentials are added, copy the trigger URL and enter it into the 'Callback URL' field in the WhatsApp configuration window in the Meta Developer portal.\n\nOnce the trigger receives a payload from WhatsApp, we check if the incoming data contains a message and add a new row with user data and message text in [Google Sheet](https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit?gid=1621824221#gid=1621824221).\n\nWhatsApp trigger also receives status notifications (i.e. message sent, message read etc.), so we ignore such notifications in this workflow.",
        "height": 437.60479041916165,
        "width": 752.168692512586
      },
      "id": "dde11b3e-0507-422e-8c0c-33ac6d07fdcf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Reply to the user via WhatsApp\nWhatsApp allows sending automatic messages **with custom text** via bots only within the 24h time frame after the last incoming user message.\n\nAfter the user sends a message to the WhatsApp bot, a row is added to the [Google Sheet](https://docs.google.com/spreadsheets/d/1T-B0yepcrCHxQpn7Sj6QjTa0VqwwVBQhO5ZcIUSxWJE/edit?gid=1621824221#gid=1621824221) with the Status 'New'\n\nType something in the `ReplyText` column and change the Status to 'Ready'.\nIn a few minutes, n8n timer will fetch all 'Ready' replies from the Google Sheet and send them one by one to the recipients",
        "height": 369.34131736526945,
        "width": 1197.9640718562885
      },
      "id": "fc6f5b3b-b602-4fe8-b947-ccd10674a8fc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
          "mode": "list",
          "cachedResultName": "TESTE MONITORAMENTO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        120
      ],
      "id": "263c00d1-7ec3-48fc-8ef1-9aff0d2de108",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "GlpMkiEeyyJbECFR",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "398994436636944",
        "recipientPhoneNumber": "=5562981154120",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1660,
        460
      ],
      "id": "f2b01737-99fd-4b98-8b37-fa977a1ef53f",
      "name": "WhatsApp Business Cloud",
      "webhookId": "571318e8-35ae-4a53-80d8-59b6a5649ae9",
      "credentials": {
        "whatsAppApi": {
          "id": "NHmHOv1id2Y7bg90",
          "name": "PH"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1320,
        460
      ],
      "id": "086235b9-46c7-41d9-9fe1-5c3d3ad1a04f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        720
      ],
      "id": "bcfdfc46-d6ea-4ff6-aa30-d7815ecfd615",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E2kIPBw3otjaqfbR",
          "name": "VALIDACAO_PABLO"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Is message?').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1360,
        720
      ],
      "id": "eee7170c-ab41-4fe3-9aa3-24d2c49bffce",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0403861-4ea8-46be-a8a2-0a874ff2a230",
              "name": "code",
              "value": "={{$now.format('HHmmss')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        120
      ],
      "id": "acbe6f52-bd26-49f8-a869-a0f9e2bc09fa",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get new answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Reply to the user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get new answers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to the user": {
      "main": [
        [
          {
            "node": "Update message status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update message status": {
      "main": [
        [
          {
            "node": "Wait 1 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 sec": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User consented for WA messages?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "User consented for WA messages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent notification  template": {
      "main": [
        [
          {
            "node": "New message from the user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sent notification  template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "14yyfAosmlIpWQLCoNkbHFjuBhO-mLih_eLE3uFG5fZQ",
      "sheetId": 0,
      "lastIndexChecked": 2
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15556040798",
            "phone_number_id": "398994436636944"
          },
          "contacts": [
            {
              "profile": {
                "name": "PH"
              },
              "wa_id": "556281154120"
            }
          ],
          "messages": [
            {
              "from": "556281154120",
              "id": "wamid.HBgMNTU2MjgxMTU0MTIwFQIAEhggNTAzNTlBODQ3MTlDNTYyNjc1M0RBQ0JEMTU2MTgzOUYA",
              "timestamp": "1744359620",
              "text": {
                "body": "Oi"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "fb0168f4-57b5-45d4-9927-8a600a2e0ea4",
  "triggerCount": 4,
  "tags": []
}