sOmHqbDcZ410M5F2.json
{
  "createdAt": "2025-04-12T17:10:48.887Z",
  "updatedAt": "2025-06-09T23:04:31.362Z",
  "id": "sOmHqbDcZ410M5F2",
  "name": "My workflow 3",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        -564,
        -260
      ],
      "id": "8a0e71f3-0c14-44bd-a6d7-26c0a374dcbc",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "kQzgcNa1COjXdT04",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -580,
        -40
      ],
      "id": "0fdaacac-05b8-4fa3-9eec-ca1d37a68ad8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "E2kIPBw3otjaqfbR",
          "name": "VALIDACAO_PABLO"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -460,
        -37.5
      ],
      "id": "fcabb76c-a1fa-4206-ae3b-e2ef28fd2737",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -372,
        160
      ],
      "id": "3b4dde29-6628-48b5-b0af-d7928077222e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        -260
      ],
      "id": "f07c3861-4dbf-464e-9ef3-3ac428cf1902",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "725ea266-53f6-403d-abdf-3076b9738d60",
              "name": "menu",
              "value": "=Sabor da Terra - Menu Principal\n\n1. Picanha na Chapa\n   Quantidade: 300g\n   Ingredientes: Picanha fatiada, alho dourado, farofa de ovos, vinagrete e arroz branco.\n   Valor: R$ 59,90\n\n2. Risoto de Camarão Cremoso\n   Quantidade: 350g\n   Ingredientes: Arroz arbório, camarões médios, creme de leite fresco, queijo parmesão e ervas finas.\n   Valor: R$ 47,00\n\n3. Frango ao Molho de Maracujá\n   Quantidade: 250g\n   Ingredientes: Filé de frango grelhado, molho de maracujá, arroz branco e batatas rústicas.\n   Valor: R$ 39,90\n\n4. Tilápia Grelhada com Purê de Banana-da-Terra\n   Quantidade: 280g\n   Ingredientes: Filé de tilápia, purê cremoso de banana-da-terra e legumes salteados.\n   Valor: R$ 42,00\n\n5. Costela Bovina Assada\n   Quantidade: 400g\n   Ingredientes: Costela lentamente assada, mandioca cozida na manteiga e arroz tropeiro.\n   Valor: R$ 54,90\n\n6. Moqueca de Peixe Baiana\n   Quantidade: 350g\n   Ingredientes: Filé de peixe, leite de coco, azeite de dendê, pimentões e coentro.\n   Valor: R$ 49,90\n\n7. Macarrão à Carbonara Caipira\n   Quantidade: 300g\n   Ingredientes: Espaguete, creme de leite, bacon crocante, queijo coalho e ovos caipiras.\n   Valor: R$ 36,00\n\n8. Nhoque de Mandioquinha ao Sugo Rústico\n   Quantidade: 280g\n   Ingredientes: Nhoque artesanal de mandioquinha, molho de tomate caseiro e manjericão fresco.\n   Valor: R$ 33,50\n\n9. Hambúrguer da Terra\n   Quantidade: 200g\n   Ingredientes: Pão brioche, hambúrguer de costela, queijo da canastra, cebola caramelizada e rúcula.\n   Valor: R$ 29,90\n\n10. Escondidinho de Carne Seca com Queijo Coalho\n    Quantidade: 300g\n    Ingredientes: Carne seca desfiada, purê de mandioca e cobertura gratinada de queijo coalho.\n    Valor: R$ 38,00\n\n11. Filé Mignon ao Molho Madeira\n    Quantidade: 250g\n    Ingredientes: Medalhões de filé mignon, molho madeira com cogumelos, arroz com brócolis e batata palha.\n    Valor: R$ 58,00\n\n12. Galinhada Goiana\n    Quantidade: 350g\n    Ingredientes: Arroz temperado, pedaços de frango caipira, pequi, açafrão e cheiro-verde.\n    Valor: R$ 41,90\n\n13. Lasanha de Berinjela com Ricota\n    Quantidade: 300g\n    Ingredientes: Camadas de berinjela grelhada, ricota temperada, molho de tomate e parmesão.\n    Valor: R$ 34,00\n\n14. Baião de Dois Sertanejo\n    Quantidade: 350g\n    Ingredientes: Arroz, feijão verde, carne de sol, queijo coalho, bacon e cheiro-verde.\n    Valor: R$ 38,50\n\n15. Paella Caipira\n    Quantidade: 400g\n    Ingredientes: Arroz temperado, frango, linguiça, milho, pimentões e açafrão.\n    Valor: R$ 45,00\n\n16. Tutu à Mineira Completo\n    Quantidade: 300g\n    Ingredientes: Feijão batido, farinha de mandioca, torresmo, couve refogada e ovo frito.\n    Valor: R$ 33,00\n\n17. Arroz de Polvo do Cerrado\n    Quantidade: 350g\n    Ingredientes: Arroz cremoso com polvo, tomate, cebola roxa, limão e coentro.\n    Valor: R$ 55,90\n\n18. Tilápia ao Molho de Alcaparras\n    Quantidade: 280g\n    Ingredientes: Filé de tilápia grelhado, molho de alcaparras, arroz de alho e legumes cozidos.\n    Valor: R$ 44,00\n\n19. Estrogonofe de Carne com Batata Palha\n    Quantidade: 300g\n    Ingredientes: Iscas de carne, creme de leite, ketchup artesanal, champignon, arroz branco.\n    Valor: R$ 35,90\n\n20. Polenta Cremosa com Ragu de Costela\n    Quantidade: 350g\n    Ingredientes: Polenta de milho amarelo, costela desfiada ao molho escuro e parmesão ralado.\n    Valor: R$ 39,50\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        -260
      ],
      "id": "6768c365-6676-42f1-ae2c-c3ac8613c7c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "teste",
        "options": {
          "systemMessage": "Você é um atendente virtual do restaurante *Sabor da Terra*.  \nSeu papel é responder perguntas sobre o cardápio de forma **clara**, **objetiva** e **educada**.\n\nO conteúdo completo do menu já foi processado e vetorizado. Sempre baseie suas respostas nas informações recuperadas.\n\n🔹 **Regras importantes:**\n- Seja direto e útil.\n- Priorize **qualidade e precisão**, mesmo que leve mais tokens para raciocinar.\n- **Evite respostas longas ou genéricas.**\n- **Não invente pratos, ingredientes ou preços.**\n- Responda **apenas o que foi perguntado**.\n- Se a pergunta não tiver relação com o cardápio, diga que você só pode responder sobre os pratos do restaurante.\n\nSe a pergunta envolver comparações de preços, quantidades ou listagens completas, use a ferramenta ListarTodosOsPratos para recuperar todos os dados e fazer o raciocínio com base nessa resposta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -444,
        -1120
      ],
      "id": "ec07a0e8-c4be-4e23-91a4-194bfced6b4a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1020,
        -1380
      ],
      "id": "9b08e636-ac6d-40b9-8820-515f75341b83",
      "name": "When chat message received",
      "webhookId": "6a8a0e33-5299-4710-9c07-5f57119904a0",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -580,
        -900
      ],
      "id": "dc23c6ee-6f22-4078-add7-e23a119f4f60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E2kIPBw3otjaqfbR",
          "name": "VALIDACAO_PABLO"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "menu",
        "toolDescription": "Utilize para pesquisar o menu",
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        -340,
        -897.5
      ],
      "id": "3255cb78-0d95-42e0-a04e-c075deefa6df",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "kQzgcNa1COjXdT04",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -252,
        -700
      ],
      "id": "2c240084-bfa5-4359-a967-ad3d87c51dea",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "E2kIPBw3otjaqfbR",
          "name": "VALIDACAO_PABLO"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -460,
        -900
      ],
      "id": "25311a99-112f-48cb-a2cc-dac05155103a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "ListarTodosOsPratos",
        "jsCode": "// Menu tokenizado\nconst menu = [\n  { nome: \"picanha na chapa\", valor: 59.90 },\n  { nome: \"risoto camarão cremoso\", valor: 47.00 },\n  { nome: \"frango ao molho maracujá\", valor: 39.90 },\n  { nome: \"tilápia grelhada purê banana terra\", valor: 42.00 },\n  { nome: \"costela bovina assada\", valor: 54.90 },\n  { nome: \"moqueca peixe baiana\", valor: 49.90 },\n  { nome: \"macarrão à carbonara caipira\", valor: 36.00 },\n  { nome: \"nhoque mandioquinha sugo rústico\", valor: 33.50 },\n  { nome: \"hambúrguer terra\", valor: 29.90 },\n  { nome: \"escondidinho carne seca queijo coalho\", valor: 38.00 },\n  { nome: \"filé mignon molho madeira\", valor: 58.00 },\n  { nome: \"galinhada goiana\", valor: 41.90 },\n  { nome: \"lasanha berinjela ricota\", valor: 34.00 },\n  { nome: \"baião dois sertanejo\", valor: 38.50 },\n  { nome: \"paella caipira\", valor: 45.00 },\n  { nome: \"tutu mineira completo\", valor: 33.00 },\n  { nome: \"arroz polvo cerrado\", valor: 55.90 },\n  { nome: \"tilápia molho alcaparras\", valor: 44.00 },\n  { nome: \"estrogonofe carne batata palha\", valor: 35.90 },\n  { nome: \"polenta cremosa ragu costela\", valor: 39.50 }\n];\n\nconst listaFormatada = menu\n  .map(prato => `- ${prato.nome} — R$ ${prato.valor.toFixed(2)}`)\n  .join('\\n');\n\nreturn `Menu resumido com nomes e preços:\\n\\n${listaFormatada}`;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -44,
        -900
      ],
      "id": "e07fb332-385b-45db-bc47-19665efb06ad",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        -920
      ],
      "id": "3a5915ee-1016-477b-b976-a568774e4639",
      "name": "WhatsApp Trigger",
      "webhookId": "eb23b8ce-a240-474c-83ce-a2bbfee790fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Hyuvm06E2gToeIlN",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "8a765e57-8e39-4547-a99a-0458df2b75f4",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "f46ad22d-1118-4f14-9da6-91f857d637ed",
      "name": "Is message?",
      "type": "n8n-nodes-base.if",
      "position": [
        -800,
        -920
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Is message?').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Is message?').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        156,
        -920
      ],
      "id": "ba32cb73-e6e5-4789-908d-cc913ae9863a",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "571318e8-35ae-4a53-80d8-59b6a5649ae9",
      "credentials": {
        "whatsAppApi": {
          "id": "fsDXKfeMv1tVvrBU",
          "name": "PH-PROD"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Is message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is message?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "556136866201",
            "phone_number_id": "662809173574386"
          },
          "statuses": [
            {
              "id": "wamid.HBgMNTU2MjgxMTU0MTIwFQIAERgSOTc2Qjg0NUE1MzFERERGQUFGAA==",
              "status": "delivered",
              "timestamp": "1744409773",
              "recipient_id": "556281154120",
              "conversation": {
                "id": "40319d04b4705709a945469449c32b94",
                "origin": {
                  "type": "utility"
                }
              },
              "pricing": {
                "billable": true,
                "pricing_model": "CBP",
                "category": "utility"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "versionId": "de37da1f-b291-4838-9fd0-a17ed21a70bc",
  "triggerCount": 1,
  "tags": []
}