tiDUOuKgfEnHtvNC.json
{
  "createdAt": "2024-06-20T07:32:58.357Z",
  "updatedAt": "2024-11-27T17:29:30.863Z",
  "id": "tiDUOuKgfEnHtvNC",
  "name": "ABSOLUTE NUTRITION - RECUPERAÇÃO DE CARRINHO",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b716abdd-bd8a-4cd1-bc6f-17f673066623",
              "leftValue": "=cart.reminder",
              "rightValue": "={{ $('Webhook').item.json.body.event }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "abe6aec7-51e1-4bec-8473-04a2617b76e5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abfdfead-079f-4be6-bc80-50403688a138",
              "name": "apikey",
              "value": "0n4c6f3cexdrbzg8j4ki4a4",
              "type": "string"
            },
            {
              "id": "b1ade5ad-a142-44f0-aa45-4e8e9cf0ac41",
              "name": "cliente",
              "value": "={{$('Webhook').item.json[\"body\"][\"resource\"][\"tracking_data\"][\"name\"] }}",
              "type": "string"
            },
            {
              "id": "dd828f2e-8cfa-42fa-bb02-67aac9a4092c",
              "name": "link",
              "value": "={{ $('Webhook').item.json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"login_url\"] }}",
              "type": "string"
            },
            {
              "id": "f299646d-8c71-4443-a990-fd318baece5c",
              "name": "cupom",
              "value": "ABS20",
              "type": "string"
            },
            {
              "id": "7bf96da5-1792-49d3-9681-e2267b68af1a",
              "name": "baseApi",
              "value": "https://evo1.conect.app/",
              "type": "string"
            },
            {
              "id": "2e9b8e26-9129-4961-804c-498c39fee353",
              "name": "instance",
              "value": "absolut_nutrition",
              "type": "string"
            },
            {
              "id": "1624e88d-da94-4030-91e3-2d2e3bb212e3",
              "name": "whatsappCliente",
              "value": "={{ $('Webhook').item.json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"phone\"][\"whatsapp_link\"].split(\"=\")[1] }}",
              "type": "string"
            },
            {
              "id": "1d336a9b-f93e-482a-b03d-a4693c892e93",
              "name": "whatsappTeste",
              "value": "5562981154120",
              "type": "string"
            },
            {
              "id": "c929171a-7318-4e11-8dd8-55d8d6dfb0b3",
              "name": "message",
              "value": "=Olá *{{ $('Webhook').item.json[\"body\"][\"resource\"][\"customer\"][\"data\"][\"first_name\"] }}*, tudo bem? 🌟\n\nNotamos que você passou em nosso site, *Absolut Nutrition*, e parece que alguns itens ficaram esquecidos no seu carrinho. Não se preocupe, estamos aqui para te ajudar! Conclua sua compra com um desconto especial de *20%*  no valor total do seu pedido🎁.\nÉ muito simples, basta usar o código *ABS20* no checkout e aproveitar essa oferta incrível. Não perca tempo, aproveite para garantir seus produtos favoritos com um preço ainda mais especial. ✨ 🛒\n\nComo resgatar seu cupom e garantir o desconto:\n\n1️⃣ - Volte ao seu carrinho de compras, utilizando link abaixo;\n2️⃣ - Insira o código *ABS20* no campo apropriado durante o checkout;\n3️⃣ - Veja instantaneamente o preço diminuir e finalize sua compra com um sorriso! 😊\n\nLembre-se, o cupom é por tempo limitado, não perca essa oportunidade! ⏰\n\n{{ $('Webhook').item.json[\"body\"][\"resource\"][\"spreadsheet\"][\"data\"][\"purchase_url\"].replaceAll(\" \", \"+\") }}\n\n🚨 Digite qualquer coisa para ativar o link.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd1e33ef-c282-44cc-8b2d-877837c148f7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1000,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json[\"baseApi\"] }}message/sendText/{{ $('Edit Fields').item.json[\"instance\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Edit Fields').item.json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields').item.json[\"whatsappCliente\"] }}\",\n  \"textMessage\": {\n    \"text\": \"{{$('Edit Fields').item.json[\"message\"].replace(/\\r?\\n/g, '\\\\n')}}\"\n},\n  \"options\": {\n    \"delay\": 0,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  }\n}",
        "options": {}
      },
      "id": "75a8936d-7758-4b8c-bb27-c91ccab853ed",
      "name": "Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json[\"baseApi\"] }}message/sendText/{{ $('Edit Fields').item.json[\"instance\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Edit Fields').item.json[\"apikey\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields').item.json[\"whatsappTeste\"] }}\",\n  \"textMessage\": {\n    \"text\": \"*[[Monitoramento temporário]]*\\n\\n{{$('Edit Fields').item.json[\"message\"].replace(/\\r?\\n/g, '\\\\n')}}\"\n},\n  \"options\": {\n    \"delay\": 0,\n    \"presence\": \"composing\",\n    \"linkPreview\": false\n  }\n}",
        "options": {}
      },
      "id": "fc1694a1-2345-4020-a00d-d7d6a3f35fa6",
      "name": "Monitoramento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        740
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "97ddce8f-3691-4c98-b3c1-fadc02a69b05",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        740
      ],
      "webhookId": "c3221cf7-f566-471f-acca-1be709f6fa26",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 98,
        "tableId": 519,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4780,
              "fieldValue": "={{ $now.format('dd-MM-yyyy HH:mm:ss') }}"
            },
            {
              "fieldId": 4783,
              "fieldValue": "CARRINHO ABANDONADO"
            },
            {
              "fieldId": 4791,
              "fieldValue": "={{ $json.body.toJsonString() }}"
            }
          ]
        }
      },
      "id": "8f20357d-e898-4062-85e2-8b6d04e6c3be",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        320,
        400
      ],
      "credentials": {
        "baserowApi": {
          "id": "g88uh1sPUBwzR4Lb",
          "name": "Baserow "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "=abs_{{ $json.body.resource.tracking_data.email }}"
      },
      "id": "6697aaf8-f81c-4fff-aa3e-2ab6a0794d08",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        600
      ],
      "credentials": {
        "redis": {
          "id": "sMZmApLKHDLS69DE",
          "name": "Redis Absolute"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=abs_{{ $('Webhook').item.json.body.resource.tracking_data.email }}",
        "value": "=abs_{{ $('Webhook').item.json.body.resource.tracking_data.email }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "8b7f4e51-fa02-4fe6-bc1c-5cb89d5a82a8",
      "name": "Redis3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        840,
        620
      ],
      "credentials": {
        "redis": {
          "id": "sMZmApLKHDLS69DE",
          "name": "Redis Absolute"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.toJsonString().split('\"')[1] }}",
                    "rightValue": "=abs_{{ $('Webhook').item.json.body.resource.tracking_data.email }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e872dbef-47f3-4c04-aa86-ee14cfd2f699",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "477ca764-dfdb-4608-a8a8-7a4dcb3c6574",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb536313-e25e-481b-a5fa-e455f900ecc4",
              "leftValue": "order.paid",
              "rightValue": "={{ $('Webhook').item.json.body.event }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66961c8a-5b58-44f0-b9b8-4c0f2e468f73",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        820
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=abs_{{ $('Webhook').item.json.body.resource.tracking_data.email }}",
        "value": "=abs_{{ $('Webhook').item.json.body.resource.tracking_data.email }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "6addbbd4-aa7b-43b6-a177-b314e9da4ebf",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        720,
        800
      ],
      "credentials": {
        "redis": {
          "id": "sMZmApLKHDLS69DE",
          "name": "Redis Absolute"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8ed1da61-ad56-41b1-bd83-7b843563e401",
        "options": {}
      },
      "id": "94b0a1bd-5176-422e-ad54-d88afbeed1d7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        620
      ],
      "webhookId": "0ffec6a0-a611-4b07-84fa-7b8a4075163b"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Monitoramento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [],
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e6c9b81f-d5db-4082-81de-2bdc3627d6b9",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-06-20T07:33:07.872Z",
      "updatedAt": "2024-06-20T07:33:07.872Z",
      "id": "0skdWdfsm1DvGCst",
      "name": "Absolute Nutrition"
    }
  ]
}