ybXnlyvXSa3DTtj1.json
{
  "createdAt": "2024-12-08T19:45:16.763Z",
  "updatedAt": "2025-03-30T05:48:17.337Z",
  "id": "ybXnlyvXSa3DTtj1",
  "name": "CONSULTA PREÇOS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.texto.toJsonString() }}",
        "options": {}
      },
      "id": "a5586962-6697-45d3-ba82-3998807cf44d",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1PZc82sUOO0irG8_Q3kqiG5aFbhljigMbmLBHMv5JSWw/edit?gid=1214704080#gid=1214704080",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1214704080,
          "mode": "list",
          "cachedResultName": "Valores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZc82sUOO0irG8_Q3kqiG5aFbhljigMbmLBHMv5JSWw/edit#gid=1214704080"
        },
        "options": {}
      },
      "id": "46fb355c-e753-4064-826d-cc6c669aca96",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlWuaL18BrL092ZL",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Inicializa uma array para armazenar os resultados\nlet resultados = [];\n\n// Loop sobre os itens de entrada e transforma cada um no formato de texto desejado\n$input.all().forEach(item => {\n  const { Tipo, Material, Acabamento, Qualidade, Unidade, \"Preco final\": precoFinal } = item.json;\n\n  // Criando o bloco de texto\n  const blocoDeTexto = `Tipo: ${Tipo}, Material: ${Material}, Acabamento: ${Acabamento}, Qualidade: ${Qualidade}, Unidade: ${Unidade}, Preço: ${precoFinal} por ${Unidade}`;\n\n  // Adicionando o bloco de texto à array de resultados\n  resultados.push({ texto: blocoDeTexto });\n});\n\n// Retornando todos os resultados, um por vez\nreturn resultados;\n"
      },
      "id": "436957fe-63ba-4eda-93b6-c8e814ffd094",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "content": "## Busca preços para colocar no banco de dados",
        "height": 379.18032786885226,
        "width": 895.2459016393443
      },
      "id": "df43af90-cf3a-4092-a614-499ca2d672e5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "path": "547f5a6f-5b94-473a-8087-326fadb62252",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b80d8cb3-e041-442a-b1a9-6dbe2b4cd8ad",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        460
      ],
      "webhookId": "547f5a6f-5b94-473a-8087-326fadb62252"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        460
      ],
      "id": "2236b247-c4a5-4d5f-af4d-547172359747",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.texto }}",
        "options": {}
      },
      "id": "9d28a138-6e6a-4ee2-93ef-cea068b028eb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        920
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1PZc82sUOO0irG8_Q3kqiG5aFbhljigMbmLBHMv5JSWw/edit?gid=1214704080#gid=1214704080",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 163700508,
          "mode": "list",
          "cachedResultName": "Area de atendimento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PZc82sUOO0irG8_Q3kqiG5aFbhljigMbmLBHMv5JSWw/edit#gid=163700508"
        },
        "options": {}
      },
      "id": "da44fd7e-80c6-4997-950c-430351d1d21c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlWuaL18BrL092ZL",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Inicializa uma array para armazenar os resultados\nlet resultados = [];\n\n// Loop sobre os itens de entrada e transforma cada um no formato de texto desejado\n$input.all().forEach(item => {\n  const { CIDADES } = item.json;\n\n  // Criando o bloco de texto\n  const blocoDeTexto = `Cidade: ${CIDADES}`;\n\n  // Adicionando o bloco de texto à array de resultados\n  resultados.push({ texto: blocoDeTexto });\n});\n\n// Retornando todos os resultados, um por vez\nreturn resultados;\n"
      },
      "id": "13a565d5-38ad-47f6-9403-a6bec7c8417e",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        920
      ]
    },
    {
      "parameters": {
        "content": "## Busca cidades onde atende",
        "height": 379.18032786885226,
        "width": 895.2459016393443
      },
      "id": "1724e42f-fe1c-45af-88aa-cd97c475c1a1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        780
      ]
    },
    {
      "parameters": {
        "path": "547f5a6f-5b94-473a-8087-cidades",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dcbf066a-a21c-45dd-895f-7c638440235e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        920
      ],
      "webhookId": "547f5a6f-5b94-473a-8087-326fadb62252"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        920
      ],
      "id": "43015c35-3a2f-4638-baaf-6cf0361a641b",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f1af8c31-db4a-443a-a1b1-88e54ffd4c4c",
  "triggerCount": 2,
  "tags": []
}