yYBUjhEP57pSNJfw.json
{
  "createdAt": "2025-03-18T17:31:09.665Z",
  "updatedAt": "2025-03-30T06:07:14.615Z",
  "id": "yYBUjhEP57pSNJfw",
  "name": "SINCRONIZA PEDIDOS SER25",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://empreendedoresradicais.com.br/wp-json/custom/v1/evo-tix?postid=17649",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -80
      ],
      "id": "8ca52f57-6eb3-44b2-a05a-7771ea37f1bf",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19OX8aNdjlrb6K9t_Mm5hb9WSYhu-SgiqEUol956aQ10",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ingressos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19OX8aNdjlrb6K9t_Mm5hb9WSYhu-SgiqEUol956aQ10/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.post.ID }}",
            "empresa": "={{ $json.ticket_holder.company }}",
            "data-compra": "={{ $json.post.created }}",
            "event": "={{ $json.event }}",
            "email": "={{ $json.meta.email[0] }}",
            "telefone": "={{ $json.ticket_holder.phone }}",
            "endereço": "={{ $json.ticket_holder.address.replaceAll('\"', \"\").trim() }}",
            "nome": "={{ $json.ticket_holder.name }}",
            "time-sincronizado": "={{ $now.format('dd/MM/yyyy HH:mm:ss') }}",
            "status": "={{ $json.meta.status[0] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endereço",
              "displayName": "endereço",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data-compra",
              "displayName": "data-compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time-sincronizado",
              "displayName": "time-sincronizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        -80
      ],
      "id": "18f67751-963c-4dc4-b723-3d853efc4064",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "url": "https://empreendedoresradicais.com.br/wp-json/custom/v1/pedidos/17650",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        220
      ],
      "id": "f12e01d2-1fec-4131-9933-57a948af52a8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19OX8aNdjlrb6K9t_Mm5hb9WSYhu-SgiqEUol956aQ10",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1104906926,
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19OX8aNdjlrb6K9t_Mm5hb9WSYhu-SgiqEUol956aQ10/edit#gid=1104906926"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pedido": "={{ $json.Pedido }}",
            "Data": "={{ $json.Data.toDateTime().format('dd/MM/yyyy') }}",
            "Status": "={{ $json.Status }}",
            "Cliente": "={{ $json.Cliente }}",
            "Total": "={{ Number($json.Total).toLocaleString('pt-BR', { minimumFractionDigits: 2 }) }}",
            "Alteração": "={{ $json.Alteracao.toDateTime().format('dd/MM/yyyy') }}"
          },
          "matchingColumns": [
            "Pedido"
          ],
          "schema": [
            {
              "id": "Pedido",
              "displayName": "Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alteração",
              "displayName": "Alteração",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        220
      ],
      "id": "748d0983-3a9f-44e2-98c0-1f5a41e48fa8",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1q83vevrtHbMz3Q",
          "name": "MULTIDESK"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -460,
        60
      ],
      "id": "6200f0ea-b9ff-47a5-93b0-d697e679c2d7",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-03-30T02:00:06.028-03:00",
          "Readable date": "March 30th 2025, 2:00:06 am",
          "Readable time": "2:00:06 am",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "March",
          "Day of month": "30",
          "Hour": "02",
          "Minute": "00",
          "Second": "06",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "4c47d05e-3ccc-43e0-b811-db1c2f832d99",
  "triggerCount": 1,
  "tags": []
}