zfOF7ibTqC3vNOAp.json
{
  "createdAt": "2025-01-15T21:49:25.318Z",
  "updatedAt": "2025-03-30T05:49:36.111Z",
  "id": "zfOF7ibTqC3vNOAp",
  "name": "EEXTRAIR GRUPOS- NÃO SEI",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "ad7ce6c1-3111-4a49-bc93-04d2730e5b8b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1780,
        -1000
      ],
      "id": "04409626-4d69-4450-959f-253ce42cbf6f",
      "name": "Webhook",
      "webhookId": "ad7ce6c1-3111-4a49-bc93-04d2730e5b8b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bb13d8e-1084-41c0-bdcf-a0d15eb705aa",
              "name": "url_evolution",
              "value": "={{ $json.query.urlApi }}",
              "type": "string"
            },
            {
              "id": "f0da0569-3145-4c8a-812e-49079a7c3ccf",
              "name": "nome_instancia_evolution",
              "value": "={{ $json.query.instancia }}",
              "type": "string"
            },
            {
              "id": "3907640d-791f-438b-b420-a34020b97753",
              "name": "=token_apikey",
              "value": "={{ $json.query.apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3fbe1ff1-5121-4c7c-a05d-a28f43784a88",
      "name": "Map Infos Iniciais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1540,
        -1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "074009bb-edbe-4f9c-942c-5374a195b8bc",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c3c42591-703e-4d81-8122-2c939aee329c",
              "name": "name",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "1846adde-5563-4052-b03b-0f17aee7eaaa",
              "name": "desc",
              "value": "={{ $json.desc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da935f16-a409-4c6e-935a-3fcc433cf39d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        -800
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Map Infos Iniciais').item.json.url_evolution }}/group/fetchAllGroups/{{ $('Map Infos Iniciais').item.json.nome_instancia_evolution }}?getParticipants=false ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Map Infos Iniciais').item.json.token_apikey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2998fe16-1ceb-4445-bfe7-9564bd1e20c7",
      "name": "Get Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -800
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json[\"data\"].map(item => \n  `**ID RELACIONADO AO GRUPO ${item.name}:** ${item.id}<br>\\n---\\n<br>`\n).join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -700
      ],
      "id": "87c6cac4-6b05-41cd-8f83-12834766164e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -40,
        -700
      ],
      "id": "8de98d11-bbd1-426b-8a04-fb22bb3f451b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.query.tipo }}",
                    "rightValue": "quantidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -280,
        -800
      ],
      "id": "a70a6f88-dc4c-4446-885c-4b2e794471c3",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json['data'].length) }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -920
      ],
      "id": "b3e24a27-a956-4df4-95fe-cf9c1ad336b5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -40,
        -920
      ],
      "id": "d79527af-8149-4747-ae2b-7ca93940720e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "=list_ph_groups",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2100,
        380
      ],
      "id": "07d8c30f-00ba-4ee6-86fa-99547c77d423",
      "name": "Redis2",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb320296-444d-4dc6-8ae7-7f3ca06bc490",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -1000
      ],
      "id": "59cf02af-1278-4ee8-bf5d-a8ba356db5c8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=list_{{ $('Map Infos Iniciais').item.json.nome_instancia_evolution }}",
        "messageData": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -440,
        -800
      ],
      "id": "5de372e0-12ce-4d49-b5cf-d9f4af473a7c",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json[\"data\"].map(item => {\n    const parsedItem = JSON.parse(item); // Converte a string JSON em objeto\n    return `**ID RELACIONADO AO GRUPO ${parsedItem.name}:** ${parsedItem.id}<br>\\n---\\n<br>`;\n}).join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        -1080
      ],
      "id": "5873932c-5acc-44ac-b35e-5c9c6a7f355b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.query.tipo }}",
                    "rightValue": "quantidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "30b3b5d4-3822-4331-8a68-1997bea5df35"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -780,
        -1240
      ],
      "id": "5b362416-2b1c-406e-a232-5c541a1fcd74",
      "name": "Switch1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"quantidade\" : {{ JSON.stringify($json['data'].length) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -500,
        -1360
      ],
      "id": "3a02d70d-66bb-441c-8ab7-6c6cb1748e1c",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1620,
        -1880
      ],
      "id": "abab1007-e668-4eca-add1-3501bf0f938a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.lists }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -540,
        -1800
      ],
      "id": "f1f57efc-02ad-4356-a980-dd990b4edf7d",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "list_*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1460,
        -1880
      ],
      "id": "1c5e7b60-4a74-4648-98cf-8883772cddc1",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7358a106-0a42-40a6-bf6e-60697bba976a",
              "name": "lists",
              "value": "={{ $json.keys() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        -1880
      ],
      "id": "2c0d0efa-5cb3-45a2-ba13-d71bb7b13899",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1140,
        -1880
      ],
      "id": "6ff5c904-be23-4586-9b21-45a0247e6c77",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        -1880
      ],
      "id": "fffbd402-c986-4ae5-9858-a9f9c88b7308",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c1539d2-168d-4444-9c63-2ac603019df6",
              "leftValue": "={{ $json.lists.split(\"_\")[0] }}",
              "rightValue": "list",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        -1780
      ],
      "id": "206271e9-4276-4c7c-8cde-a2c632295d8e",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "# APAGA LISTA DE TODOS OS GRUPOS MEIA NOITE",
        "height": 540,
        "width": 1860
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        -2020
      ],
      "typeVersion": 1,
      "id": "307776f1-f8da-4624-bab0-999bff6090ba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        -1980
      ],
      "id": "facfe5ac-ed98-418f-b33d-b65a8b74d621",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "=list_{{ $('Map Infos Iniciais').item.json.nome_instancia_evolution }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1300,
        -1000
      ],
      "id": "abff8ced-d93a-4f8d-b034-24756c3ca2cf",
      "name": "Redis",
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "bnN4hC1JEWAx7EA1",
          "name": "Redis Rafael"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map Infos Iniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Groups": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Infos Iniciais": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Redis2": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hook.multidesk.io",
            "user-agent": "axios/1.7.4",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "hook.multidesk.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61a872d84fef",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {
            "tipo": "nomes",
            "urlApi": "https://easyevo.multidesk.io",
            "instancia": "ph_groups",
            "apikey": "34A81F951F79-41A7-B5D5-1123EB003B24"
          },
          "body": {},
          "webhookUrl": "https://hook.multidesk.io/webhook/ad7ce6c1-3111-4a49-bc93-04d2730e5b8b",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "ab0f93d1-436b-4176-8a5a-e64eee1f3228",
  "triggerCount": 2,
  "tags": []
}